.titulo{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    color: aquamarine;
}

.textito{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 9px;
    color: blueviolet;
}